html {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    height: 100%;
    width: 100%;
    /* padding: 20px; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: #d5d5d5;
    /* Empêche le scroll horizontal et vertical */
    overflow-x: hidden;
    overflow-y: hidden;
}
h1 {
    font-size: 36px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espace entre les éléments pour que le bouton soit en bas */
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box; /* Pour s'assurer que le padding ne dépasse pas les dimensions */
}

.images {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; /* Permet aux images de se placer l'une en dessous de l'autre si l'écran est trop petit */
}

img {
    max-width: 100%; /* Limite la taille des images pour qu'elles ne dépassent pas leur conteneur */
    width: 45%; /* Chaque image prendra 45% de la largeur disponible */
    height: 60%;
    object-fit: fill; /* Permet de garder le ratio de l'image */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
    padding: 15px 25px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
