/* reset.css */

/* Reset des styles par défaut */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* Réinitialisation des styles pour les éléments de formulaire */
input,
textarea,
select,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* Réinitialisation des styles pour les éléments de liste */
ul,
ol {
    list-style: none;
}

/* Réinitialisation des styles pour les liens */
a {
    text-decoration: none;
    color: inherit;
}

/* Réinitialisation des styles pour les éléments de tableau */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Réinitialisation des styles pour les éléments de média */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
