body {
    margin: 0;
    padding: 0;
    background-image: url('./img/mountain-velo.jpg');
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#formulaire-container {
    background-color: rgba(0, 0, 0, 0.615);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    border-bottom: dashed 2px rgba(0, 128, 0, 0.718);
}

label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

input,
select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #formulaire-container {
        width: 80%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #formulaire-container {
        width: 80%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #formulaire-container {
        width: 70%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #formulaire-container {
        width: 60%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #formulaire-container {
        width: 50%;
    }
}